<div class="container header"> 
  <div class="row">
   <div class="col-md-12">
     <div class="card"> 
       <div class="card-header">Your Conversations</div> 
         <div class="card-body"> 
           <div class="container"> 
             <% @conversations.each do |conversation| %>
               <% other = current_user == conversation.sender ? conversation.recipient : conversation.sender %> 
               <%= link_to conversation_messages_path(conversation),  style: "text-decoration:none;" do %>  
                 <div class="row conversation">  
                   <% if conversation.messages.any? %>  
                     <div class="col-md-2">  
                       <% if other.avatar_url.present? %>
                         <%= image_tag other.avatar_url, class: "rounded-circle avatar-medium" %> 
                       <% else %>  
                         <%= image_tag "/assets/icon.png",  class:"rounded-circle avatar-medium" %>
                       <% end %> 
                     </div>  
                     <div class="col-md-2">
                        <%= other.name %> <%= conversation.messages.last.message_time %>  
                     </div>  
                     <div class="col-md-8"> 　
                       <%= conversation.messages.last.body %>  
                     </div>  
              　   <% end %> 　
                 </div>  
               <% end %> 
             <% end %>
          </div> 
        </div> 
      </div>  
    </div> 
  </div>

</div>