<div class="row header"> 
  <div class="card col-md-8 offset-md-2 pt-5"> 
    <h2 class="text-center">ログイン</h2>
    <br/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "email", class:"form-control"%>
      </div>
    
      <div class="form-group">
        <%= f.password_field :password, placeholder: "password" , class:"form-control"%>
      </div>
    
      <div> 
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>Remember Me
        <% end %>
        <span class="pull-right"> 
          <%= link_to "パスワードをお忘れですか？",new_user_password_path %>
        </span>
      </div>
    
      <div class="actions">
        <%= f.submit "Log in" , class:"btn btn-normal btn-block"%>
      </div>
      <br/>
      <div class="form-group"> 
        <%= link_to user_twitter_omniauth_authorize_path,class:"btn btn-block btn-primary" do %>
          <i class="fab fa-twitter"></i> Twitterでログイン
        <% end %>
      </div>
    <% end %>

  </div>
</div>