<ul class="sidebar-list"> 
  <li class="sidebar-item"> 
    <%= link_to "タイトル、紹介文、リクエスト理由", description_post_path, class:"sidebar-link active" %>
  </li>
  <li class="sidebar-item"> 
    <%= link_to "写真一覧", photo_upload_post_path, class:"sidebar-link active" %>
  </li>
  <li class="sidebar-item"> 
    <%= link_to "動画", video_post_path, class:"sidebar-link active" %>
  </li>
  <li class="sidebar-item"> 
    <%= link_to "投稿詳細", post_path(@post), class:"sidebar-link active" %>
  </li>
   <li class="sidebar-item"> 
    <%= link_to "投稿を削除する", post_path(@post), method: :delete, data: { confirm: "削除してよろしいですか" }, class:"sidebar-link active" %>
  </li>
</ul>