<%= render 'shared/postmes' %>
<div class="card"> 
  <div class="card-header">
  </div>
  <div class="card-body"> 
    <div class="container">
      <%= form_for @post do |f| %>

        <div class="row">

          <div class="col-md-6 select">
            <div class="form-group">
              <label>カテゴリー</label>
              <%= f.select :category, [["DVD", "DVD"], ["ゲーム", "ゲーム"], ["本", "本"], ["その他", "その他"]],
                            id: "category", prompt: "カテゴリー選択", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-6 select">
            <div class="form-group">
              <label>ジャンル</label>
              <%= f.select :genre, [["ドラマ", "ドラマ"], ["アクション", "アクション"], ["SF", "SF"], ["ファンタジー", "ファンタジー"], ["ミステリー・サスペンス", "ミステリー・サスペンス"], ["コメディ", "コメディ"], ["ロマンス", "ロマンス"], ["ホラー", "ホラー"], ["ドキュメンタリー", "ドキュメンタリー"], ["その他", "その他"]],
                            id: "genre", prompt: "カテゴリー選択", class: "form-control" %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
                <label>タイトル</label>
                <%= f.text_field :title, placeholder: "作品のタイトルを入力してください", class: "form-control", required: true %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
                <label>紹介文</label>
                <%= f.text_area :content, rows: 3, placeholder: "作品の紹介文を50文字以上入力してください", class: "form-control", required: true %>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
                <label>リクエストした理由</label>
                <%= f.text_area :description, rows: 3, placeholder: "リクエストした理由を50文字以上入力してください", class: "form-control", required: true %>
            </div>
          </div>
          

        </div>
        <h4>作品を投稿したら、次に画像投稿ページに移ります。</h4>
        <div><%= f.submit "リクエスト作品を投稿する", class: "btn btn-normal" %></div>

      <% end %>

    </div>
  </div>
</div>
